@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f7f3ed;
  color: #000;
}

a:hover {
  color: #c0392b;
}
