@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom overrides */
* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
html, body {
  margin: 0;
  padding: 0;
  background: #F7F3ED;
  color: #000;
}
a:hover {
  color: #C0392B;
}
